.debug-grid-overlay .border-box {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.debug-grid-overlay {
	padding: 0 19px; /* -1px for border */
	height: 100%;
	position: fixed;
	top: 0;
	z-index: 10000000;
}

.debug-grid-overlay .column,
.debug-grid-overlay .gutter {
	float: left;
	height: 100%;
	opacity: .3;
}

.debug-grid-overlay .column {
	background-color: #8CD8FE;
	padding: 0 12px;
	width: 82px;
}

.debug-grid-overlay .gutter {
	width: 12px;
}

.debug-grid-overlay .column .column-content {
	background-color: #23C0FB;
	height: 100%;
	position: absolute;
	width: 58px;
}


@media only screen and (min-width: 1024px) and (max-width: 1496px) {
	.debug-grid-overlay {
		padding: 0 18px; /* -1px for border */
	}

	.debug-grid-overlay .column {
		padding: 0 10px;
		width: 73px;
	}

	.debug-grid-overlay .gutter {
		width: 10px;
	}

	.debug-grid-overlay .column .column-content {
		width: 53px;
	}
}

@media only screen and (max-width: 1023px) {
	.debug-grid-overlay {
		padding: 0 15px; /* -1px for border */
	}

	.debug-grid-overlay .column {
		padding: 0 8px;
		width: 54px;
	}

	.debug-grid-overlay .gutter {
		width: 8px;
	}

	.debug-grid-overlay .column .column-content {
		width: 38px;
	}
}

